html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    font-family: var(--font-sans);
    display: flex;
    color: var(--color-black);
    flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.route {
  padding-inline: var(--padding);
  max-width: var(--max-width);
  margin-inline: auto;
  width: 100%;
}