:root {
  --padding: 20px;
  --radius: 5px;
  --color-black: black;
  --max-width: 800px;
  --color-gray: rgb(189, 189, 189);
  --color-gray-light: rgb(236, 235, 235);
  --color-gray-dark: rgb(83, 83, 83);
  --color-primary: rgb(245, 212, 23);
  --color-secondary: rgb(245, 112, 23);
}