@import './scripture-style/scripture-styles.scss';
@import './layout';
@import './components/selection-popup';

body {
    padding: 0;
}

.bible-picker {
    height: 100px;
}

.v {
    user-select: none;
}