@import './scripture-style/scripture-styles.scss';
@import './layout';
@import './components/selection-popup';
@import './components/select';
@import './components/bible-picker';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    padding: 0;
}

.v {
    user-select: none;
}