.project.teaser {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-block: 20px;

    .avatar {
        width: 26px;
        height: 26px;
        background-color: var(--color-gray-lighter);
    }

    .description,
    .title {
        margin: 0;
    }

    .description {
        margin-bottom: auto;
    }

    .title {
        width: calc(100% - 36px);
    }

    .actions {
        margin-left: auto;
    }
}
