.bible-picker {
    background: var(--color-gray-light);
    align-content: flex-start;
    padding: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    .inner {
        width: 100%;
        margin-inline: auto;
        justify-content: center;
        display: flex;
        gap: 20px;    
    }
}