.book-navigation {
    display: flex;
    gap: 2px;
    flex: 1 1 auto;
    align-items: center;

    .field {
        flex: 1 1 auto;
    }

    .select {
        border: none;
        flex: 1 1 auto;
        background-color: var(--color-gray-lighter);

        option:not(:checked) {
            max-width: 10px;
        }
    }

    select {
        line-height: 22px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .field:nth-child(2) .select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .field:nth-child(3) .select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .project-title {
        flex: 1 1 auto;
        white-space: nowrap;
        font-size: 18px;
        margin-right: 10px;
    }
}

@media screen and (min-width: $tablet) {
    .book-navigation {
        .project-title + .select {
            margin-left: auto;
        }
    }
}