.book-navigation {
    min-width: 200px;
    padding: var(--padding);
    transition: all var(--speed) var(--easing);
}

@media screen and (min-width: $tablet) {
    .book-navigation {
        max-width: 300px;
    }
}