.button {
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--color-primary-dark);
    background-color: var(--color-primary);
    cursor: pointer;
    font-size: 16px;
    transition: background-color .4s ease-in-out;
    display: inline-flex;
    gap: 5px;
    text-decoration: none;
    color: var(--color-gray-dark);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    font-family: var(--font-sans);
    position: relative;

    &:hover {
        background-color: var(--color-secondary);
    }

    &:focus {
        box-shadow: inset 0 0 5px var(--color-gray-dark);
    }

    &.nowrap {
        white-space: nowrap;
    }

    &.medium {
        font-size: 12px;
        padding: 5px;
    }

    @media screen and (min-width: $tablet) {
        &.mini {
            font-size: 12px;
            padding: 2px;
        }
    }

    &:not(.mini) {
        svg {
            width: 1.5em;
            height: 1.5em;
            margin-block: -.25em;
        }    
    }

    path:not([fill="none"]) {
        fill: var(--color-gray-dark);
    }

    &.secondary {
        background-color: var(--color-gray-light);

        &:hover {
            background-color: var(--color-gray);
        }
    }

    &.error {
        background-color: var(--color-error);
    }

    &.is-working {
        pointer-events: none;

        &:after {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image: linear-gradient(
                            -45deg,
                            var(--color-primary-dark) 25%,
                            transparent 25%,
                            transparent 50%,
                            var(--color-primary-dark) 50%,
                            var(--color-primary-dark) 75%,
                            transparent 75%,
                            transparent
            );
            opacity: .4;
            z-index: 1;
            background-size: 50px 50px;
            animation: move 2s linear infinite;
            overflow: hidden;
        }
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
