.button {
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--color-gray-dark);
    background-color: var(--color-primary);
    cursor: pointer;
    font-size: 16px;
    transition: background-color .4s ease-in-out;
    display: inline-flex;
    gap: 5px;

    &:hover {
        background-color: var(--color-secondary);
    }
    
    &.nowrap {
        white-space: nowrap;
    }

    @media screen and (min-width: $tablet) {
        &.mini {
            font-size: 12px;
            padding: 2px;
        }
    }

    &:not(.mini) {
        svg {
            width: 1.5em;
            height: 1.5em;
            margin-block: -.25em;
        }    
    }

    path:not([fill="none"]) {
        fill: var(--color-gray-dark);
    }

    &.secondary {
        background-color: var(--color-secondary);

        &:hover {
            background-color: var(--color-gray-light);
        }
    }
}