.fact-basket {
    background: var(--color-gray-light);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;

    .inner {
        width: 100%;
        margin-inline: auto;
        justify-content: center;
        display: flex;
        gap: 20px;    
    }

    .close.icon {
        width: 16px;
        height: 16px;
    }
}