.markings-editor {
    user-select: none;
    margin-inline: auto;
    position: relative;
    font-family: var(--font-serif);
    font-size: 20px;
    margin-top: 20px;
    line-height: 40px;

    .word {
        cursor: pointer;
        position: relative;

        &:after {
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: -4px;
            right: -3px;
            content: '';
            display: block;
            height: 100%;
            opacity: 0;
            background-color: var(--color-primary);
            z-index: -10;
        }
    }

    .space {
        pointer-events: none;
    }

    .word.selected {
        &:after {
            opacity: 1;
        }
    }

    .word.selected + .word.selected:after {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .markings {
        position: absolute;
        width: calc(100% + 2px);
        top: 100%;
        left: -2px;
    }

    .marking {
        display: block;
        height: 3px;
        background-color: var(--color);
        border-radius: 3px;
        margin-bottom: 2px;
        width: 100%;        
    }

    .verse-number {
        pointer-events: none;
        font-size-adjust: .4;
        color: var(--color-gray-dark);

        &:after {
            height: 100%;
            height: 133%;
            top: -7px;
        }

        .markings {
            top: calc(100% + 1px);
        }
    }

    .start-of-big-marking {
        margin-top: 40px;
        display: inline-block;
    }

    .big-marking {
        height: calc(var(--y2) - var(--y1) + 40px);
        width: 100%;
        top: calc(var(--y1) - 32px);
        position: absolute;
        right: 0;
        pointer-events: none;

        &:before {
            border-radius: 2px;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: calc(100% + 40px);
            left: -20px;
            z-index: -100;
            opacity: .1;
            height: 100%;
            background: var(--color);
        }

        &:after {
            border-radius: 2px;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: calc(100% + 40px);
            left: -20px;
            z-index: -1;
            height: 100%;
            border: 2px solid var(--color);
        }

        .text {
            line-height: 24px;
            font-family: var(--font-sans);
            font-size: 13px;
            border-radius: 10px;
            background-color: var(--color);
            color: white;
            position: sticky;
            top: 80px;
            margin-top: 14px;
            margin-bottom: 20px;
            float: right;
            transform-origin: center;
            padding-inline: 10px;
        }
    }
}


@media screen and (min-width: $tablet) {
    .markings-editor {
        font-size: 26px;
        line-height: 50px;

        .big-marking {
            .text {
                top: 105px;
            }

            &:before {
                background: linear-gradient(90deg, var(--color), white);
            }
        }
    }
}