.markings-editor-change {
    position: fixed;
    opacity: 0;
    background-color: var(--color-primary);
    z-index: 10;
    bottom: 0;
    border: 1px solid var(--color-gray-dark);
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    pointer-events: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    max-height: calc(100vh - 70px);
    overflow-y: auto;

    &[data-visible="true"] {
        opacity: 1;
        pointer-events: all;
    }

    .button {
        float: right;
        margin-inline-start: var(--padding);
    }

    .list {
        padding-inline-start: 14px;
        white-space: nowrap;
        float: left;
    }

    .changes {
        background-color: var(--color-gray-light);
        padding: 10px;
        border-radius: var(--radius);

        &[open] {
            summary {
                font-weight: bold;
            }
        }
    }

    summary {
        cursor: pointer;
        line-height: 42px;
    }
}

@media screen and (max-width: #{$tablet - 1px}) {
    body.has-selection-popup .markings-editor-change {
        opacity: 0;
        pointer-events: none;
    }
}

@media screen and (min-width: $tablet) {
    .markings-editor-change {
        width: auto;
        right: var(--padding);
        bottom: var(--padding);
    }
}