.selection-popup {
    position: fixed;
    background-color: var(--color-gray-dark);
    padding: 5px;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    bottom: 0;
    transform: translateX(-50%);
    opacity: var(--selection-popup);
    border-radius: var(--radius);
    min-width: 80px;
    width: 100%;
    z-index: 20;
    font-size: 16px;
    line-height: 1;
    font-family: var(--font-sans);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

    label {
        display: inline-flex;
        color: var(--color-gray);
        padding-top: 10px;
        padding-bottom: 5px;
        font-style: italic;
    }

    .predicate-part {
        text-indent: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &[type="form"] {
        min-width: 600px;

        input, textarea {
            min-width: 600px;
        }

        textarea {
            min-height: 60px;
        }
    }

    .label {
        flex: 1 1 auto;
        padding-inline: 5px;
    }

    .search-result {
        display: flex;
        line-height: 32px;
        white-space: nowrap;
        align-items: center;
        background-color: var(--color-gray-light);
        padding: 0;
        border-radius: var(--radius);

        svg  {
            height: 16px;
            width: 16px;
        }
    }

    .searching-text {
        color: white;
        line-height: 30px;
    }
}

@media screen and (max-width: $tablet - 1px) {
    .search-result {
        .label + .button {
            border-radius: 0;
        }

        .button + .button {
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

@media screen and (min-width: $tablet) {
    .selection-popup {
        position: absolute;
        bottom: auto;
        width: auto;
        top: calc(100% + 10px);

        &:after {
            content: '';
            width: 12px;
            height: 8px;
            background-color: var(--color-gray-dark);
            clip-path: polygon(50% 0%, 0 100%, 100% 100%);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;
        }
    
        .cancel-button {
            display: none;
        }

        .search-result {
            padding: 0 2px;
            gap: 2px;
        }
    }
}