select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    overflow: hidden;
    font-family: var(--font-sans);
    text-overflow: ellipsis;
    flex: 1 1 auto;
    line-height: 30px;
    padding-inline-end: 25px;

    // Stack above custom arrow
    z-index: 1;
  
    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
  
    // Remove focus outline, will add on alternate element
    outline: none;
}

.select {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  background: white;
  overflow: hidden;
  min-width: 52px;
  text-overflow: ellipsis;
  flex: 1 0 auto;
  border: 1px solid var(--color-gray-dark);
  border-radius: var(--radius);
  cursor: pointer;

  // Custom arrow
  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    margin-inline-end: 10px;
    width: 12px;
    position: absolute;
    right: 0;
    height: 8px;
    flex: 0 0 12px;
    background-color: var(--color-gray-dark);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid var(--color-primary);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;

  /*
    * Safari will not reveal an option
    * unless the select height has room to 
    * show all of it
    * Firefox and Chrome allow showing 
    * a partial option
    */
  height: 6rem;

  option {
    white-space: normal;

    // Only affects Chrome
    outline-color: var(--color-primary);
  }

  /* 
    * Experimental - styling of selected options
    * in the multiselect
    * Not supported crossbrowser
    */
    &:not(:disabled) option {
      border-radius: 12px;
      padding: 4px;
      transition: 120ms all ease-in;

      &:checked {
        background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
        padding-left: 0.5em;
        color: black !important;
      }
    }
}

.select.mini {
  font-size: .8rem;
  
  select {
    line-height: 16px;
    padding: 0;
  }
}